.cherry {
  /* height: 465px; */
  width: 510px;
  height: 750px;
}

.centerr {
  margin: auto;
  width: 1200px;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Red Hat Display", sans-serif;
  font-size: 20px;
  background: #ffefba; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer {
  position: absolute;
  left: 550px;
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 80px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* Source for CSS animation:https://codepen.io/alvarotrigo/pen/PoKMyNO */
/* Source for UI Gradient: https://uigradients.com/#Margo */
/* h1 {
  text-align: center;
  margin-right: 100px;
  font-size: 80px;
} */
